.profile__edit-button {
  background-image: url(../../../images/Button/Edit-Button.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  width: 24px;
  height: 24px;
  margin-inline-start: 17px;
  cursor: pointer;
}