.cards {
  padding-top: 46px;
  max-width: 100%;
  min-height: 48vw;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px 17px;
}

@media screen and (max-width: 563px) {
  .cards {
    gap: 20px 0;
  }
}