.profile__avatar {
  background-image: url(/images/Profile/Profile__Jacques-Costeau.jpg);
  border-radius: 50%;
  background-position: center;
  background-size: 100%;
  width: 120px;
  height: 120px;
}